:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  --broncoBlue: #0033ad;
  --broncoOrange: #ff3c00;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#LandingPage {
  width: 100%;
  min-height: 100vh;

  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--broncoBlue);
}

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

/* TODO Change this to be more custom */
button {
  border-radius: 8px;
  border: 2px solid #000;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--broncoBlue);
  color: white;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
  justify-content: center;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

button:hover {
  background-color: #002580;
  transform: scale(1.2);
}

input {
  padding: 0.8rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  width: 250px;
  box-sizing: border-box;
}



